.profile-card{
  background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8)), url(/public/images/covers/1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90px;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .profile-card img.profile-photo{
    border: 7px solid #fff;
    float: left;
    margin-right: 20px;
    position: relative;

    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  
  .profile-card h5 a{
    font-size: 15px;
  }
  
  .profile-card a{
    font-size: 12px;
  }
  
  /*Newsfeed Links CSS*/
  
  ul.nav-news-feed{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0 40px 0;
  }
  
  ul.nav-news-feed li{
    list-style: none;
    display: block;
    padding: 15px 0;
  }
  
  ul.nav-news-feed li div{
    position: relative;
    margin-left: 30px;
    }
  
  ul.nav-news-feed li div::after{
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #f1f2f2;
    position: absolute;
    bottom: -15px;
    left: 0;
  }
  
  ul.nav-news-feed li a{color: #6d6e71;}
  
  ul.nav-news-feed li i{
    font-size: 18px;
    margin-right: 15px;
    float: left;
  }
  
  ul.nav-news-feed i.ion-ios-paper{color: #8dc63f;}
  
  ul.nav-news-feed i.ion-ios-people{color: #662d91;}
  
  ul.nav-news-feed i.ion-ios-people-outline{color: #ee2a7b;}
  
  ul.nav-news-feed i.ion-chatboxes{color: #f7941e;}
  
  ul.nav-news-feed i.ion-images{color: #1c75bc;}
  
  ul.nav-news-feed i.ion-ios-videocam{color: #9e1f63;}
  
  .username_infor{
    text-transform: capitalize;
    font-size: 14px;
  }