.search {
    &-page {
        min-height: 100vh;
        background-color: #e9ebee;

    }

    &-result {
        h5 {
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        &-item {
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #f8f9fa;
            min-height: 120px;
            padding: 15px;

            & a {
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }

                span {
                    color: #365899;
                    font-weight: bold;
                    padding-left: 10px;
                    padding-top: 15px;
                }
            }

            &__addfriend {
                background-color: #e9ebee;
                border-radius: 3px;
                font-size: 14px;
                padding: 0px 15px;
                width: 150px;
                height: 40px;
                text-align: center;
                padding: 10px;
            }
            &__hidden {
                display: none;
            }
        }
    }
}