.signup-page{
    padding-top: 70px;
   
}
.action{
    z-index: 2;
}
.signup-form{
    padding: 0px 50px;
}
.slide-signup{
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    background-image: url(/images/bg/bg-2.jpg);
    
}