button{
    cursor: pointer !important
}
.listuser{
    position: fixed;
    padding-right: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f8f8f8;
    &-title{
        padding-top: 15px;
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
    }
    &-description{
        padding-top: 40px;
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar-thumb{
            border-radius: 2px;
            height: 30;
            width: 5px;
            background: rgb(22, 133, 133);
        }
        &__sub a{
            padding-bottom: 10px;
            img{
                width: 36px;
                height: 36px;
            }
            span{
                font-size: 14px;
                line-height: 36px;
                margin-left: 10px;
            }
        }
    }
}
.page-hidden{
    ::before {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(170, 170, 175, 0.7);
      z-index: 100;
    }
  }
.loading-page{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
   
  }
  ::-webkit-scrollbar{
    width: 10px;
  
}
::-webkit-scrollbar-thumb{
    border-radius: 2px;
    height: 50px;
    background: rgb(200, 206, 206);
}
  body{
    ::-webkit-scrollbar{
        width: 5px;
       background: none;
    }
    
  }